chart/org.eclipse.birt.chart.engine/xsd/component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by David Michonneau (Actuate Corporation) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by aa (ORiON) -->
<xsd:schema xmlns="http://www.birt.eclipse.org/ChartModelComponent" xmlns:attribute="http://www.birt.eclipse.org/ChartModelAttribute" xmlns:chart="http://www.birt.eclipse.org/ChartModel" xmlns:data="http://www.birt.eclipse.org/ChartModelData" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:layout="http://www.birt.eclipse.org/ChartModelLayout" xmlns:type="http://www.birt.eclipse.org/ChartModelType" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.birt.eclipse.org/ChartModelComponent">
	<xsd:import namespace="http://www.birt.eclipse.org/ChartModel" schemaLocation="model.xsd"/>
	<xsd:import namespace="http://www.birt.eclipse.org/ChartModelAttribute" schemaLocation="attribute.xsd"/>
	<xsd:import namespace="http://www.birt.eclipse.org/ChartModelData" schemaLocation="data.xsd"/>
	<xsd:import namespace="http://www.birt.eclipse.org/ChartModelLayout" schemaLocation="layout.xsd"/>
	<xsd:import namespace="http://www.birt.eclipse.org/ChartModelType" schemaLocation="type.xsd"/>
	<xsd:complexType name="Axis">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines the basic elements that are expected in any axis. This can further be extended for special axis types.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="attribute:AxisType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the type of Axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Title" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					This is the element title.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SubTitle" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					This is the element subtitle.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TitlePosition" type="attribute:Position">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies where the title for the axis should be displayed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="AssociatedAxes" type="Axis">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the value orthogonal axes associated with this axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="AncillaryAxes" type="Axis">
				<xsd:annotation>
					<xsd:documentation>Holds the value ancillary base axes associated with this axis.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" name="SeriesDefinitions" type="data:SeriesDefinition">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the source of the series. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="GapWidth" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the spacing between the first (or last) series marker and the edge of the unit on the axis. This is specified as a percentage.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Orientation" type="attribute:Orientation">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the orientation of the Axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting information for the axis line.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					A label instance to hold attributes for axis labels.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="FormatSpecifier" type="attribute:FormatSpecifier">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting for axis labels.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="LabelPosition" type="attribute:Position">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies where the labels for the axis should be displayed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Staggered" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the position to be used for the labels. (Staggered/Straight)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element default="1" minOccurs="0" name="Interval" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Specifies the showing interval for the labels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="MarkerLines" type="MarkerLine">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines a set of markers for positions on the axis scale displayed as lines across the plot at those locations.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="MarkerRanges" type="MarkerRange">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines a set of marker areas for a range of values on the axis displayed as filled rectangles extending across the plot between the start and end positions.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Triggers" type="data:Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the triggers for the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MajorGrid" type="Grid">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the major grid associated with the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinorGrid" type="Grid">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the minor grid associated with the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Scale" type="Scale">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the scale for the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Origin" type="attribute:AxisOrigin">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the location on the perpendicular primary axis that should be considered as the point of intersection for this axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryAxis" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether or not this is a primary axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CategoryAxis" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether or not this is a category axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Percent" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether or not this is a percentage axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Series">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines a single (related) group of data to be plotted in a chart. A series is usually expected to be associated with a numerical axis.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element default="true" minOccurs="0" name="Visible" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Determines visibility of the series.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the properties for the Series data points.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" name="DataDefinition" type="data:Query">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the source of the data for the series. (e.g. Database field which will provide the values for the series). 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeriesIdentifier" type="xsd:anySimpleType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies an identifier to link the series with its definition at runtime. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataPoint" type="attribute:DataPoint">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies what (and how) information is shown in the data label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" name="DataSets" type="EStringToDataSetMapEntry">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the runtime data for the series.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="LabelPosition" type="attribute:Position">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies where the data label for the series should be displayed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Stacked" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether the series is to be rendered stacked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Triggers" type="data:Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the triggers for the series.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Translucent" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether the series elements are to be rendered translucent. This setting is only applicable for elements with solid color fills.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CurveFitting" type="CurveFitting">
				<xsd:annotation>
					<xsd:documentation>Specifies the curve fitting attributes for the series.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Label">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines a text label. It is not intended as a standalone element but should be associated with a chart element.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Caption" type="attribute:Text">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The string content displayed in the label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Background" type="attribute:Fill">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the background for the label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Outline" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the outline (border) for the label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShadowColor" type="attribute:ColorDefinition">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the shadow color for the label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Insets" type="attribute:Insets">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines the insets for the label.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Visible" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies whether or not the label is visible on the chart.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarkerLine">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines a single line element. It is intended for use as a marker associated with an Axis. e.g. To denote a Target value
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specify the line properties.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Value" type="data:DataElement">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines where this line is to be positioned w.r.t the axis. (Can be a value on the axis or a category name).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the label associated with this line.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LabelAnchor" type="attribute:Anchor">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies where the label associated with this line is to be positioned with respect to the line itself.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="FormatSpecifier" type="attribute:FormatSpecifier">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting for marker line labels.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Triggers" type="data:Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the triggers for the marker line.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarkerRange">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines a marker area. It is intended for use as a range marker associated with an Axis.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Outline" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specify the outline properties for the marker range.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Fill" type="attribute:Fill">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specify the background for the marker range.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartValue" type="data:DataElement">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines where this area starts relative to the axis scale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndValue" type="data:DataElement">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Defines where this area is ends relative to the axis scale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the label associated with this area.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LabelAnchor" type="attribute:Anchor">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies where the label associated with this line is to be positioned within respect to the marker range itself.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="FormatSpecifier" type="attribute:FormatSpecifier">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting for marker range labels.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Triggers" type="data:Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds the triggers for the marker range.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Grid">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines the grid associated with an axis.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Holds formatting information for the grid lines.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TickStyle" type="attribute:TickStyle">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies how the tick is to be marked for the grid line.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TickAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting information for the tick.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TickSize" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the formatting information for the tick.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TickCount" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the frequency of the grid lines per unit of the scale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Scale">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines the scale associated with an axis.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Min" type="data:DataElement">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Minimum value that should appear on the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Max" type="data:DataElement">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Maximum value that should appear on the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Step" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Stepping in the values shown on the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Unit" type="attribute:ScaleUnitType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Stepping in the values shown on the axis.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinorGridsPerUnit" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Specifies the number of minor grids per unit of the scale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChartPreferences">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This type defines the global chart preferences.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="Labels" type="Label">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					A collection of labels holding preferences for the various labels used in a chart.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" name="Blocks" type="layout:Block">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					A collection of blocks holding preferences for the different blocks used in a chart.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CurveFitting">
		<xsd:annotation>
			<xsd:documentation>			This type defines the curve fitting element.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation>
					Specifies the formatting information for the curve.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation>					A label instance to hold attributes for curve labels.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="LabelAnchor" type="attribute:Anchor">
				<xsd:annotation>
					<xsd:documentation>Specifies where the labels for the curve should be displayed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialRegion">
		<xsd:complexContent>
			<xsd:extension base="MarkerRange">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="InnerRadius" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Specifies the percentage value of the inner radius of the dial region.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="OuterRadius" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Specifies the percentage value of the outer radius of the dial region.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Needle">
		<xsd:annotation>
			<xsd:documentation>			This type defines a needle of a dial.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation>Specify the line properties for the needle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Decorator" type="attribute:LineDecorator">
				<xsd:annotation>
					<xsd:documentation>Specify the line decorator for the needle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dial">
		<xsd:annotation>
			<xsd:documentation>			This type defines the basic elements that are expected in a dial chart. This can further be extended for special dial chart types.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element default="0" minOccurs="0" name="StartAngle" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Specifies the start angle of the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element default="180" minOccurs="0" name="StopAngle" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Specifies the stop angle of the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Radius" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Specifies the radius of the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineAttributes" type="attribute:LineAttributes">
				<xsd:annotation>
					<xsd:documentation>Specifies the border line style.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Fill" type="attribute:Fill">
				<xsd:annotation>
					<xsd:documentation>Specifies the background fill style.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DialRegions" type="DialRegion">
				<xsd:annotation>
					<xsd:documentation>Defines a set of areas for a range of values within a dial displayed as filled sections
extending across the dial between the start and end positions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MajorGrid" type="Grid">
				<xsd:annotation>
					<xsd:documentation>Defines the major grid associated with the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinorGrid" type="Grid">
				<xsd:annotation>
					<xsd:documentation>Defines the minor grid associated with the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Scale" type="Scale">
				<xsd:annotation>
					<xsd:documentation>Defines the scale for the dial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element default="false" name="InverseScale" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Defines if invert the scale during rendering(right to left)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Label" type="Label">
				<xsd:annotation>
					<xsd:documentation>Defines the properties for grid labels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="FormatSpecifier" type="attribute:FormatSpecifier">
				<xsd:annotation>
					<xsd:documentation>Format specifier for grid label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="EStringToDataSetMapEntry">
		<xsd:sequence>
			<xsd:element name="Key" type="xsd:string"/>
			<xsd:element name="Value" type="data:DataSet"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
